<div class="more-wrapper">
	<div class="row">
		<div class="submenu col-xs-12">
			<li><img src="{{photo}}" height="20" width="20"> {{firstname}} {{lastname}}</li>
			<li><i class="fa fa-pencil-square-o"></i> Update Info</li>
			<li><i class="fa fa-list-alt"></i> Class Schedule</li>
			<li><i class="fa fa-eye"></i> View Grades</li>
		</div>
		<div class="submenu-title">SUBJECTS</div>
		<div class="submenu col-xs-12">
			<li><i class="fa fa-users"></i> Management-1</li>
			<li><i class="fa fa-users"></i> Management-2</li>
			<li><i class="fa fa-users"></i> Management-3</li>
			<li class="logout"><i class="fa fa-power-off"></i> Log Out</li>
		</div>
	</div>
</div>