{{#each posts}}
<div class="post row">
	<div class="col-xs-12">
		<img class="profile-pic" src="{{user.photo}}" height="30" width="30">
		<span class="post-author">{{user.firstname}} {{user.lastname}}</span>
	</div>

	<div class="post-body col-xs-12">{{body}}</div>
</div>
{{/each}}