body {
	background: #EDEDED;
}
a:hover {
	text-decoration: none;
	color: inherit;
}
.title-bar {
   	background: #108FC2;
	color: #fff;
	padding: 5px 5px;
	font-weight: 700;
}
.menus {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #fff;
	border-top: 1px solid #D4D4D4;
	font-size: 10px;
	font-weight: 100;
	padding-top: 5px;
	z-index: 100;
}
.menu {
	padding: 0;
	text-align: center;
	color: #979797;
}
.menu:active {
	color: #108FC2;
}
.menu-icon {
	font-size: 16px;
}
#main-content {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
.post {		
	background: #fff;
	margin: 0 -10px 8px -10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 1px;
	box-shadow: 0px 1px 2px #B1B1B1;
	letter-spacing: .08em;
}
.posts {
	font-size: 10px;
	margin-bottom: 50px;
}
.post-author {
}

.more-wrapper {
	font-size: 12px;
	letter-spacing: .05em;
	margin-bottom: 50px;
}
.more-wrapper .submenu-title {
	text-indent: 5px;
	font-size: 10px;
	letter-spacing: 0;
	color: #8A8A8A;
}
.more-wrapper .submenu {
	background: #fff;
	margin: 10px 0;
}
.more-wrapper .submenu:first-of-type {
	margin-top: 0;
}
.more-wrapper .submenu li {
	list-style: none;
	border-bottom: .09em solid #E2E2E2;
	padding: 10px 0;
	color: #000;
}
.more-wrapper .submenu li:active {
	background: #d7d7d7;
}
.more-wrapper .submenu li:last-of-type {
	border-bottom: none;	
}
